<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4">

    <display-name>Your Webapp</display-name>
    <description>Webapp created with ApplicationServerProject Stub</description>

    <servlet>
        <description><![CDATA[A generic servlet that executes usual php scripts.]]></description>
        <display-name>PhpServlet</display-name>
        <servlet-name>PhpServlet</servlet-name>
        <servlet-class>\TechDivision\ServletContainer\Servlets\PhpServlet</servlet-class>
    </servlet>

    <servlet>
        <description><![CDATA[A generic servlet that executes usual static content.]]></description>
        <display-name>StaticResourceServlet</display-name>
        <servlet-name>StaticResourceServlet</servlet-name>
        <servlet-class>\TechDivision\ServletContainer\Servlets\StaticResourceServlet</servlet-class>
    </servlet>

    <servlet>
        <description><![CDATA[A demo servlet that renders a template showing the current uri requested]]></description>
        <display-name>DemoServlet</display-name>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\DemoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StaticResourceServlet</servlet-name>
        <url-pattern>/components/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhpServlet</servlet-name>
        <url-pattern>/*.php</url-pattern>
    </servlet-mapping>

</web-app>